@import url(normalize.css);
@import url(normalize-opentype.css);
/* Mobile first */
body {
/*  font-family: "FAUST DISPLAY";*/
/*  font-weight: 300;*/
/*  background: #485364;*/
/*  color: white;*/
/*  font-size: 2em;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #debc98;
  -webkit-transition: border-bottom 250ms ease, color 250ms ease;
          transition: border-bottom 250ms ease, color 250ms ease;
  color: inherit; }
  a:visited {
    color: #debc98; }
  a:hover {
    color: #cb965e;
    border-bottom: 1px solid #bb7d3c; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding-bottom: 5em;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100; }


  @media only screen and (min-width: 15em) and (max-width: 60em) {
    .container {
      padding-top: 3.5em;
      padding-bottom: 3.5em; } }

  .container .chapter {
/*    display: none;*/
    z-index: 45;
    font-size: 1em;
/*    opacity: 0;*/
/*    color: #485364;*/
    width: 70%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-weight: 500;
    position: relative;
    max-width: 35em; }
    @media only screen and (min-width: 15em) and (max-width: 80em) {
      .container .chapter {
        width: 80%;
        font-size: 0.75em; } }
    @media only screen and (min-width: 95em) {
      .container .chapter {
        width: 50%; } }
    .container .chapter span.hidden {
      display: none;
/*      color: #ece4e4;*/
      -webkit-transition: color 2s ease;
              transition: color 2s ease; }
      .container .chapter span.hidden.visible {
        color: #485364; }
    .container .chapter span.break {
      display: block;
      clear: both;
      margin-top: 1em; }
    .container .chapter.center {
      text-align: center;
      font-size: 2em; }
    .container .chapter p {
      z-index: 100; }
    .container .chapter a {
      color: #debc98;
      z-index: 100;
      text-decoration: none;
      padding-bottom: 2px;
      outline: 3px inset transparent;
      outline-offset: 15px;
      -webkit-transition: outline 250ms ease, outline-offset 250ms ease, color 250ms ease, text-shadow 250ms ease;
              transition: outline 250ms ease, outline-offset 250ms ease, color 250ms ease, text-shadow 250ms ease; }
      .container .chapter a:hover {
        direction: rtl;
        color: #d2a371; }
      .container .chapter a.clicked {
        border-bottom: 0;
        color: #485364; }
    .container .chapter img {
      max-width: 100%;
      -webkit-transform: translatey(-5em);
          -ms-transform: translatey(-5em);
              transform: translatey(-5em); }



.half {
  position: fixed;
  width: 50%;
  top: 0;
  display: block;
  height: 100%;
  opacity: 0.5;
  z-index: 0; }
  .half.left {
    width: 100%; }
  .half.right {
    right: 0;
    width: 50%; }

iframe {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  position: fixed; }
