@charset "UTF-8";
@import url(normalize.css);
@import url(normalize-opentype.css);
@import url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css");
@font-face {
  font-family: 'TypBrep';
  src:
    url('fonts/TypBrep-Regular.otf') format('opentype');
	font-weight: normal;
  	font-style: normal;
}
/*@font-face {
  font-family: 'EB Garamond';
  src:
    url('fonts/EBGaramond-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*/

body {
	width: 70%;
	margin: 0px auto;
	backgound-color: #5F6E71;
	-webkit-column-rule: #000;
	-moz-column-rule: #000;
	-o-column-rule: #000;
	column-rule: #000;
/*	font-family: 'TypBrep';*/
  font-family: 'EB Garamond', serif;
	font-size: 2em;
	line-height:1.5em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {	font-style: italic;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #A2A08C;
  -webkit-transition: border-bottom 250ms ease, color 250ms ease;
          transition: border-bottom 250ms ease, color 250ms ease;
  color: inherit; }
/*
a:after {  margin: 0 3px;
  font-family: FontAwesome;
  vertical-align: middle;
  content: '\f360';}
*/
  a:visited {
	color: #666666;
}
  a:hover {
    color: #A2A08C;
    border-bottom: 1px dashed #9D4794; }


.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding-bottom: 5em;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-weight: 500;
    position: relative;
    max-width: 70em;
}
    .container .chapter {width: 100%;}
    .container .open {
      color: #A2A08C;
    }
    .container  .hidden {
      display: none;
      color: #ffffff;/* #ece4e4; */
      -webkit-transition: color 2s ease;
              transition: color 2s ease; }
      .container .hidden.visible {
        color: #000; }
    .container  span.break {
      display: block;
      clear: both;
      margin-top: 1em; }
    .container .center {
      text-align: center;
      font-size: 2em; }
    .container  p {
      z-index: 100; }
    .container  a {
      color: #1A2A40;
      z-index: 100;
      text-decoration: none;
      padding-bottom: 2px;
      outline: 3px inset transparent;
      outline-offset: 15px;
      -webkit-transition: outline 250ms ease, outline-offset 250ms ease, color 250ms ease, text-shadow 250ms ease;
              transition: outline 250ms ease, outline-offset 250ms ease, color 250ms ease, text-shadow 250ms ease; }
      .container  a:hover {
        direction: rtl;
        color: #0F1926; }
      .container  a.clicked {
        border-bottom: 0;
/*        color: #000; */
}
    .container  img {
      max-width: 100%;
      /* -webkit-transform: translatey(-5em);
          -ms-transform: translatey(-5em);
              transform: translatey(-5em);  */
            }
.container .italic {
  font-style: italic;
}
.container  .subhead {
  padding: 3em 1em 0 0;
	font-size: 0.7em;
	line-height: 1.4em;
	font-family: 'Karla', sans-serif;
	font-weight:700;
	font-style:bold;
}
.container  .paragraph {
  padding: 2em 0 0 0;
	font-size: 0.4em;
		line-height: 1.4em;
    font-family: 'Karla', sans-serif;
	font-weight:400;
	font-style:normal;

}

.div.logosvg{
  display:inline;
}
/* https://qiita.com/ken200/items/1fd088cf324f479e5104 */
div{
	box-sizing: border-box;
}
  .row{
  	display: table;
  	width: 100%;
  	table-layout: fixed;
    margin: 4px 10px 0 0;

  	/* background: gray;
      color: white; */
  }

  .cell-1{
  	display: table-cell;
  	width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
  }

  .cell-2{
  	display: table-cell;
  	/* width: 50%; */
  }
  .cell-3{
    display: table-cell;
    width: 20%;
  }
iframe {
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  position: fixed; }

hr{ border-top: 1px solid #000; }
