doctype html
html(lang='en')
  include ../includes/_head.pug
  body
    //- script(src='js/toggle.js')
    .container-fluid.body
      span
        include ../includes/_hello.pug
        include ../includes/_cv.pug
        include ../includes/_cv_of_failures.pug
        include ../includes/_quotes.pug
        include ../includes/_sns.pug
        include ../includes/_foot.pug
